# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# macOS
.DS_Store

# VS Code local settings
.vscode/

# Environment / secrets
.env
.env.*

# Coverage files
.coverage
htmlcov/